<h1>Listing research_groups</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @research_groups.each do |research_group| %>
      <tr>
        <td><%= link_to research_group.name, research_group %></td>
        <td><%= link_to 'Edit', edit_research_group_path(research_group) %></td>
        <td><%= link_to 'Destroy', research_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research group', new_research_group_path, class: "btn btn-primary" %>
