<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @research_group.name %>
</p>

<%= link_to 'Edit', edit_research_group_path(@research_group) %> |
<%= link_to 'Back', research_groups_path %>
